<footer class="footer mt-3">
  <div class="f-info">
    <div class="f-info-social-links">
      <a href="/instagram" target="_blank" class="footer-links instagram">
        <i class="fa-brands fa-instagram"></i> Instagram&nbsp;&nbsp;</a>
      <a href="https://www.linkedin.com/in/rishisrivastava07/" target="_blank" class="footer-links linkedin">
        <i class="fa-brands fa-linkedin"></i>
        Linkedin&nbsp;&nbsp;</a>
      <a href="https://github.com/rishisrivastava07" target="_blank" class="footer-links github">
        <i class="fa-brands fa-github"></i>
        Github&nbsp;&nbsp;</a>
      <a href="/facebook" target="_blank" class="footer-links facebook">
        <i class="fa-brands fa-facebook"></i>
        Facebook&nbsp;&nbsp;</a>
    </div>
    <p class="copyright">&copy; Intern Project by Rishi Srivastava</p>
    <div class="f-info-links">
      <a href="/privacy" target="_blank" class="footer-links privacy">&nbsp;&nbsp;Privacy&nbsp;&nbsp;</a>
      <a href="/documentation" target="_blank"
        class="footer-links documentation">&nbsp;&nbsp;Documentation&nbsp;&nbsp;</a>
      <a href="/terms" target="_blank" class="footer-links terms">&nbsp;&nbsp;Terms & Conditions&nbsp;&nbsp;</a>
    </div>
  </div>
</footer>