<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/assets"
      ><i class="fa-solid fa-chart-pie"></i>Asset Performance Analytics
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/assets">All Assets</a>
        <a class="nav-link" href="/performance-metrics">All Performances</a>
        <a class="nav-link" href="/assets/create">Create Asset</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currUser) {%>
        <a class="nav-link" href="/signup">Sign Up</a>
        <a class="nav-link" href="/login">Login</a>
        <% } %> <% if(currUser) {%>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
