<% layout("layouts/boilerPlate") %>

<body>
  <h1 class="heading mt-3">Signup Page</h1>

  <hr />
  <form class="needs-validation" method="POST" action="/signup" novalidate>
    <div class="mb-3">
      <label for="email" class="form-label">Email ID : </label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="email"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username : </label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
      />
    </div>
    <div class="col mb-3">
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <div class="mb-3 d-grid gap-2 col-2 mx-auto">
      <button type="submit" class="btn btn-outline-primary">Sign Up</button>
    </div>
  </form>
  <div class="text-center mt-3">
    <p>If registered, <a href="/login">login here</a>.</p>
  </div>
</body>
